/* green color:  */
:root {
  --font: 'Source Sans Pro',
    sans-serif;
  --blue: #0f3181;
  --light-green: #4872a8;
  --fontsize: 20px;
  --font-color: rgb(89, 114, 107);
}

#div {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

#navbar {
  display: flex;
  justify-content: space-evenly;
  flex-basis: center;
  padding: 2rem 0rem 2rem 1rem;
  margin-bottom: 0px;
  height: 70px;
  background-color: var(--blue)
}

.homepage {
  background-color: lightgray;
  font-family: var(--font);
  padding: 0.5rem 1rem;
  font-size: var(--fontsize);
  border: 0px;
  border-radius: 4px;
  color: var(--font-color);
}

.joblist {
  background-color: lightgray;
  font-family: var(--font);
  padding: 0.3rem 1rem;
  font-size: var(--fontsize);
  border: 0px;
  border-radius: 4px;
  color: var(--font-color);
}

.apphistory {
  background-color: lightgray;
  font-family: var(--font);
  padding: 0.3rem 1rem;
  font-size: var(--fontsize);
  border: 0px;
  border-radius: 4px;
  color: var(--font-color);
}

.docs {
  background-color: lightgray;
  font-family: var(--font);
  padding: 0.5rem 1rem;
  font-size: var(--fontsize);
  border: 0px;
  border-radius: 3px;
  color: var(--font-color);
}

#navbar a {
  text-decoration: none;
  color: inherit;
}

#img {
  width: 260px;
  height: fill;
}