/* green color:  */
:root {
  --font: 'San-Serif';
  --blue: #0f3181;
  --light-green: #4872a8;
  --fontsize: 20px;
  --font-color: rgb(89, 114, 107);
}

#div {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

#navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--light-green);
  padding: 3rem 0rem 2rem 1rem;
 padding-top: 15px;
 padding-bottom: 15px;
}

.link {
  background-color: lightgray;
  font-family: var(--font);
  padding: 0.25rem 1rem;
  font-size: var(--fontsize);
  border: 0px;
  border-radius: 3px;
  color: var(--font-color);
}

#navbar a {
  text-decoration: none;
  color: inherit;
}